.page {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0%;
}

.popup-backdrop::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

/* Header */
.header {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #213B7E;
}

.site-logo {
    width: auto;
}

.site-menu {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0; 
    padding: 0;
}

.site-menu > li {
    display: flex;
    min-height: 80px;
}

.menu-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 0 18px;
} 

.menu-link:hover {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none; 
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    background-color: #EA5D21;
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

/* Login popup */
.login-heading {
    padding: 0;
    display: flex;
    position: relative;
    bottom: 15px;
}

.login-popup {
    display: none;
    position: fixed;
    z-index: 2;
    top: auto;
    left: 50%;
    transform: translate(-50%, 100%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 56px;
    background-color: white;
    border: 1px solid #213B7E;
    box-shadow: 5Px 5px 4px 0 rgba(0,0,0,0.25);
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-input::placeholder, .password-input::placeholder {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.login-form > input {
    width: 100%;
    max-width: 444px;
    min-height: 55px;
    margin-bottom: 56px;
    border: 1px solid #808080;
}

.popup-button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    text-decoration: none;
    color: #fff;
    background-color: #ea611e;
    border: none;
}

.login-form > input {
    padding: 0 1em;
}

/* Main */
.main {
    box-sizing: border-box;
    width: 100%;
    max-width: 911px;
    margin: 0 auto;
    padding: 0 16px;
    padding-right: 19px;
    flex-grow: 1; 
}

.clacc-photo {
    object-fit: cover;
    width: 100%;
    max-width: 523px;
    height: 316px;
}

.main-heading {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
    margin-right: -35px;
}

h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.intro-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.study-together {
    margin: 0;
    padding-top: 5px;
    position: relative;
    right: 0px;
    bottom: 0px;
}


.intro-aside {
    color: rgba(100, 100, 100, 1);
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    
}

.intro-aside > blockquote {
    margin: 0;
    position: relative;
}

.intro-aside > blockquote::before {
    font-weight: 700;
    content: '\201C';
    position: absolute;
    left: -20px; 
}

.intro-aside > blockquote::after {
    font-weight: 700;
    content: '\201D';
    position: absolute;
    right: -20px;
}

.intro-text {
    margin: 0;
    width: 100%;
    max-width: 634px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.intro-text-ty {
    margin: 0;
    margin-bottom: 150px;
    width: 100%;
    max-width: 634px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.intro-text > strong {
    font-weight: 700;
}

.intro-text > em {
    font-style: italic;
    color: #CF5510;
}

/* Students */
.student-header {
    margin-bottom: 37px;
}

.main-students {
    max-width: 1202px;
    min-height: 80px;
    margin-bottom: 150px;
}

.student-heading {
    max-width: 1202px;
    padding: 0 13px;
    margin: 0 auto;
    margin-bottom: 24px;
    box-sizing: border-box;
}

.student-heading::after {
    content: ' 👧👦';
}

.students {
    display: flex;
    flex-wrap: wrap;
    max-width: 1202px;
    gap: 20px;  
    padding: 0 13px;
    box-sizing: border-box;
    margin: 0 auto;
    pointer-events: none;
    cursor: default;
    text-decoration: none; 
}

.student-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex: 1 1 0;
}

.student {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 200px; 
}

@media (min-width:1150px) {
    .student {
        max-width: calc(100% / 6);
    }
}

.student-new {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    /* right: -13px; не работает используй Margin */
    margin-right: -125px;
    display: flex;
    padding: 2px 5px;
    border-radius: 20px;
    background-color: #3aa828;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.student > img {
    height: unset;
    background-color: #213B7E;
    padding-block-end: inherit;
    object-fit: cover;
    height: 270px;
}

.student-name {
    display: block;
    text-align: center;
}

/* About */
.main-about {
    max-width: 911px;
    min-height: 80px;
    padding: 0 16px;
}

.main-headua::after {
    content: '📱';
}

.about-text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.about-video {
    width: 100%;
    min-height: 550px;
    margin-bottom: 150px;
}

/* Contacts */
.contacts-about {
    box-sizing: border-box;
    max-width: 100%;
    min-height: 80px;
    padding: 0 16px;  
}

.contacts-heading {
    max-width: 911px;
    margin-left: auto;
    margin-right: auto;
}

.contacts-heading::after {
    content: ' 🗺️';
}

.contacts-text-heading {
    max-width: 911px;
    margin: 10px auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.contacts-maps {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
}


.contacts-tel {
    margin: 3px auto;
    max-width: 911px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.contacts-email {
    margin: 10px auto;
    max-width: 911px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.contacts-address {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 150px;
}

/* Myself */
.aboutmyself {
    display: flex;
    flex-wrap: wrap;
    max-width: 1202px;
    gap: 20px;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}

.aboutmyself-jpg {
    margin: 0 ;
    object-fit: cover;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    max-width: 1202px;
    gap: 20px;
    padding-bottom: 15px;
}

.myself-pag {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    flex-wrap: wrap;
}

.blockquote-txt {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.main-heading-aboutmyselt::after {
    content: ' \1F3E1';
}

/* Footer */
.footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1 16px;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;
}


.copywrite {
    color: rgba(255, 255, 255, 0.5);
}

.inoop-link {
    color: rgba(255, 255, 255, 0.5); 
}

/* Responsive */
@media screen and (max-width: 630px) {
    .header {
       justify-content: center;
       padding: 1em 16px; 
       gap: 1em;
    }
    .site-logo {
        width: 100%;
        min-height: 80px; 
    }
    .site-menu {
        justify-content: center;
    }
}

/* Js */
.active-link {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.show-popup {
    display: block;
}
